$logo-red: #ED2738FF;
$logo-green: #43B029FF;
$logo-blue: #3080E2FF;
$logo-purple: #AB4EC5FF;
$logo-yellow: #FFCD01FF;
$logo-grey: #3F4442FF;


$primary: $logo-red;
//$secondary: #3080E2FF;
$secondary: $logo-grey;
$success: $logo-green;
$info: $logo-purple;
$warning: $logo-yellow;
$danger: $logo-red;

$card-border-radius: 1.3rem