$web-font-path: false;

@import "../../node_modules/bootswatch/dist/darkly/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index";
@import "../../node_modules/bootswatch/dist/darkly/bootswatch";

::-moz-selection { /* Code for Firefox */
  color: white;
  background: $primary !important;
}

::selection {
  color: white;
  background: $primary !important;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

$form-input-background-color: #444444;

.custom-select, .form-control{
  background-color: $form-input-background-color;
  color: white;

  &:focus {
    background-color: $form-input-background-color;
    color: white;

    outline: none !important;
    border:1px solid $primary;
  }
}

.clickable {
  cursor: pointer;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
